<html>
<body>
    {{ if .user_exists }}
    <h3>ユーザー名: <a href="/user/{{ .user_id }}">{{ .user_name }}</a></h3>
    <a href="/logout">ログアウト</a>
    {{ else }}
    <h3><a href="/login">ログイン・アカウント作成</a></h3>
    {{ end }}
    <h1>スレッドを作成</h1>
    <form action="/thread" method="POST">
    スレッド名：<input type="text" name="thread_title"/><br/>
    カテゴリ:
    <select name="category_id">
        {{range $i, $v := .categories}}
        <option value="{{$v.CategoryID}}">{{$v.Name}}</option>
        {{end}}
    </select><br/>
    <input type="submit" value="作成"/>
    </form>
    <h1>スレッド一覧</h1>
    <table border="1">
        <tr>
            <th>id</th>
            <th>タイトル</th>
            <th>作成ユーザー</th>
            <th>作成日時</th>
            <th>カテゴリ</th>
        </tr>

        {{range $i, $v := .threads}}
        <tr>
            <td>{{$v.ThreadID}}</td>
            <td><a href="/thread/{{$v.ThreadID}}">{{$v.Title}}</a></td>
            <td><a href="/user/{{$v.UserID}}">{{$v.UserName}}</a></td>
            <td>{{$v.CreatedAt}}</a></td>
            <td><a href="/search?category={{ $v.CategoryID }}">{{ $v.CategoryName }}</a></td>
        </tr>
        {{end}}
    </table>
    <h2>スレッド・コメントを検索</h2>
    <form action="/search" method="GET">
    <select name="category">
        <option value="-1" selected>カテゴリ指定なし</option>
        {{range $i, $v := .categories}}
        <option value="{{$v.CategoryID}}">{{$v.Name}}</option>
        {{end}}
    </select>
    <input type="text" name="query"/>
    <input type="submit" value="検索"/>
    </form>

</body>
</html>
