<html>
<body>
    {{ if .user_exists }}
    <h3>ユーザー名: {{ .user_name }}</h3>
    {{ else }}
    <h3><a href="/login">ログイン・アカウント作成</a></h3>
    {{ end }}
    <h1>スレッドを作成</h1>
    <form action="thread" method="POST">
    スレッド名：<input type="text" name="thread_title"/><br/>
    <input type="submit" value="作成"/>
    </form>
    <h1>スレッド一覧</h1>
    <table border="1">
        <tr>
            <th>id</th>
            <th>タイトル</th>
        </tr>

        {{range $i, $v := .threads}}
        <tr class="user">
            <td>{{$v.ThreadID}}</td>
            <td><a href="/thread/{{$v.ThreadID}}">{{$v.Title}}</a></td>
        </tr>
        {{end}}
    </table>
</body>
</html>
