<html>
<body>
    <h1>{{.user.Name}}</h1>
    {{if eq .userRole "owner"}}
    <form action="/user/{{.user.UserID}}/role" method="POST">
    権限: {{.user.Role}}
    <select name="new_role">
        <option value="member" {{ if eq .user.Role "member" }}selected{{ end }} >member</option>
        <option value="admin" {{ if eq .user.Role "admin" }}selected{{ end }} >admin</option>
        <option value="owner" {{ if eq .user.Role "owner" }}selected{{ end }} >owner</option>
    </select>
    <input type="hidden" name="_method" value="PUT">
    <input type="submit" value="変更"/>
    </form>
    {{else}}
    権限: {{.user.Role}}<br/><br/>
    {{end}}
    {{if or (eq .userID .user.UserID) (eq .userRole "owner")}}
    ユーザーを削除する<br/>
    <form action="/user/{{.user.UserID}}" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="削除"/>
    </form>
    {{end}}
    <br/>

    <h3>作成したスレッド一覧</h3>
    <table border="1">
        <tr>
            <th>id</th>
            <th>タイトル</th>
            <th>コメント数</th>
            <th>作成日時</th>
            <th>カテゴリ</th>
            <th>タグ</th>
        </tr>

        {{range $i, $v := .threads}}
        <tr>
            <td>{{$v.ThreadID}}</td>
            <td><a href="/thread/{{$v.ThreadID}}">{{$v.Title}}</a></td>
            <td>{{$v.NumComment}}</td>
            <td>{{$v.CreatedAt}}</a></td>
            <td><a href="/search?category={{ $v.CategoryID }}">{{ $v.CategoryName }}</a></td>
            <td>
                {{range $ii, $vv := $v.Tags}}
                <a href="/search?tag={{ $vv.TagID }}">{{ $vv.Name }}</a> 
                {{end}}
            </td>
        </tr>
        {{end}}
    </table>
    
    <h3>コメント</h3>
    <table border="1">
        <tr>
            <th>コメント</th>
            <th>投稿日時</th>
            <th>スレッドID</th>
            <th>スレッドタイトル</th>
        </tr>

        {{range $i, $v := .comments}}
        <tr>
            <td>{{$v.Content}}</td>
            <td>{{$v.CreatedAt}}</a></td>
            <td>{{$v.ThreadID}}</td>
            <td><a href="/thread/{{$v.ThreadID}}">{{$v.ThreadTitle}}</a></td>
        </tr>
        {{end}}
    </table>
    <a href="/">ホームへ戻る</a>
</body>
</html>
