{{template "header" .}}

<h1>{{.user.Name}}</h1>
{{if eq .login_user_role "owner"}}
<form action="/user/{{.user.UserID}}/role" method="POST">
権限: {{.user.Role}}
<select name="new_role">
    <option value="member" {{ if eq .user.Role "member" }}selected{{ end }} >member</option>
    <option value="admin" {{ if eq .user.Role "admin" }}selected{{ end }} >admin</option>
    <option value="owner" {{ if eq .user.Role "owner" }}selected{{ end }} >owner</option>
</select>
<input type="hidden" name="_method" value="PUT">
<input type="submit" value="変更"/>
</form>
{{else}}
権限: {{.user.Role}}<br/><br/>
{{end}}
{{if or (eq .login_user_id .user.UserID) (eq .login_user_role "owner")}}
ユーザーを削除する<br/>
<form action="/user/{{.user.UserID}}" method="POST">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="削除"/>
</form>
{{end}}
<br/>

<h3>作成したスレッド一覧</h3>
{{template "threads" .}}

<h3>コメント</h3>
{{template "comments" .}}

{{template "footer"}}
